<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper">
    <select id="selectManagerPage" resultType="com.example.springboot.entity.User">
        select username AS nickname, fans, focus, photo from `user`
        where user_id=#{userId}


    </select>
    <select id="selectHeaderPage" resultType="com.example.springboot.entity.User">
        select username AS nickname, photo from `user`
        where user_id=#{userId}

    </select>

    <select id="selectByName" resultType="com.example.springboot.entity.User">
        SELECT user_id AS userId, username AS nickname, name AS account, password, role, token, fans, focus, photo
        FROM `user`
        WHERE name = #{account}
    </select>

    <insert id="insertUser" parameterType="com.example.springboot.entity.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO `user` (username, name, password, role, fans, focus)
        VALUES (#{nickname}, #{account}, #{password}, #{role}, #{fans}, #{focus})
    </insert>

    <select id="selectByUserId" resultType="com.example.springboot.entity.User">
        SELECT user_id AS userId, username AS nickname, name AS account, password, role, token, fans, focus, photo
        FROM `user`
        WHERE user_id = #{userId}
    </select>

    <update id="updateToken">
        UPDATE `user` SET token = #{token} WHERE user_id = #{userId}
    </update>

    <insert id="upsertAdmin">
        INSERT INTO `user` (username, name, password, role, token, fans, focus)
        VALUES (#{account}, #{account}, #{password}, 'ADMIN', NULL, 0, 0)
        ON DUPLICATE KEY UPDATE
            username = VALUES(username),
            password = VALUES(password),
            role = 'ADMIN',
            token = NULL
    </insert>

</mapper>
